body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table#calendar td {
  border: 1px dotted #888;
  padding: 5px;
  width: 3.0em;
}
table#calendar thead td {
  text-align: center;
}
table#calendar tbody td {
  text-align: right;
}
table#calendar td:nth-child(1) {
  color: #f00;
}
table#calendar td:nth-child(7) {
  color: #00f;
}

div#prev {
  width: 21.0em;
}
div#next {
  width: 21.0em;
  text-align: right;
}
